<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>413673131281-akppi44769ovelafukoalkshvrcgj9fi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.413673131281-akppi44769ovelafukoalkshvrcgj9fi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>413673131281-vnhgm3j7fldf8vd5as8qcl6dnbt43vgt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA_PmGbfE9RZSpbzPrT-DFh5lB0VGoXYzM</string>
	<key>GCM_SENDER_ID</key>
	<string>413673131281</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSocailApp</string>
	<key>PROJECT_ID</key>
	<string>social-app-cdb64</string>
	<key>STORAGE_BUCKET</key>
	<string>social-app-cdb64.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:413673131281:ios:1aebfe21d4069a4d73d0b0</string>
</dict>
</plist>